@charset "utf-8";

/* reset */
a {
    text-decoration: none;
    color: inherit;
}

body,
select,
input {
    font: normal 14px "Pretendard-Regular", sans-serif;
    color: #333;
}

html,
body {
    width: 100%;
    min-width: 320px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 강조: #358E3C // 아이콘 deepgreen
메인: #87D68D // 주조색 green
메뉴: #EAF3D8 // 메뉴배경 */


/* wrap */
#wrap {
    width: 100%;
}

#top_wrap {
    width: 100%;
    margin-bottom: 40px;
}

#top_wrap h1 {
    width: 30%;
    max-width: 150px;
    margin: 30px auto;
    text-align: center;
}

#top_wrap h1 img {
    width: 100%;
}


.login_list {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 0 auto 30px;
    border: 2px solid #87D68D;
    border-radius: 100px;
    display: flex;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.login_list li {
    flex: 1;
}

.login_list li a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #87D68D;
    position: relative;
    z-index: 2;
}

.login_list li a.selected {
    color: #fff;
}

/* 슬라이더 역할 */
.login_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    /* 탭 2개니까 반만큼 */
    height: 100%;
    background-color: #87D68D;
    border-radius: 100px;
    transition: left 0.3s ease;
    z-index: 1;
}

/* login_wrap */
#login_wrap {
    width: 100%;
    text-align: center;
}

#u_id,
#u_pwd {
    background-color: #EAF3D8;
    width: 95%;
    height: 50px;
    border: 1px solid #87D68D;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto 5px;
    font-size: 15px;
    text-indent: 1em;
    outline: none;
}

#s_btn1 {
    border: none;
    background-color: #87D68D;
    color: #fff;
    z-index: 1;
    /* top: -60px; 왔다갔다 하는거 js 처리 */
}

#s_btn1:hover {
    color: #358E3C;
    background-color: rgba(135, 214, 141, 0.7); 
}

#btn_wrap {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#btn_wrap input {
    width: 40%;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    background-color: #87D68D;
    color: #fff;
}

/* 체크박스 */
#chk_wrap {
    width: 100%;
    margin: 30px 0 25px;
    font-family: "Pretendard-Regular", sans-serif;
    font-weight: normal;
    color: #666;
}


#chk1,
#chk2 {
    width: 0;
    height: 0;
    text-align: center;
}

/* 기본 */
label.type-checkbox {
    background: url("../images/bg_checkbox.png") no-repeat 0 3px;
    height: 24px;
    display: inline-flex;
    padding-left: 30px;
    line-height: 24px;
    vertical-align: middle;
    cursor: pointer;
}

/* 오버 */
label.type-checkbox:hover {
    background-position: 0 -197px;
}

/* 선택 -checked는 선택자 설정 x => 확인 할 때만 잠깐 붙이고 => js 처리 */
label.type-checkbox.checked {
    background-position: 0 -97px;
}

.join {
    width: 100%;
}

.search a,
.sns_txt {
    color: #666;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.sns {
    overflow: hidden;
    margin: 15px 0 20px;
}

.sns li {
    display: inline-block;
    margin: 2%;
    transition: all .3s;
}

.sns li:hover {
    transform: scale(1.1);
}

.sns li a img {
    vertical-align: top;
}

.search {
    clear: both;
    margin-bottom: 30px;
}

.search a:hover {
    color: #358E3C;
    text-decoration: underline;
}


/* login2 */
#u_order,
#u_email {
    background-color: #EAF3D8;
    width: 95%;
    height: 50px;
    border: 1px solid #87D68D;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto 5px;
    font-size: 15px;
    text-indent: 1em;
    outline: none;
}

.u_num {
    color: #666;
    margin: 15px auto 10px;
    font-size: 14px;
    font-weight: bold;
}

#tel_wrap {
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 15px;
}

#tel_wrap select {
    margin-right: 2%;
}

#tel1,
#tel2,
#tel3 {
    background-color: #EAF3D8;
    border: 1px solid #87D68D;
    height: 50px;
    border-radius: 5px;
    outline: none;
}

#tel1 {
    width: 20%;
    height: 54px;
    color: #666;
    text-indent: 0.6em;
}

#tel2 {
    margin-right: 2%;
}

#tel2,
#tel3 {
    width: 40%;
    height: 50px;
}

#btn_wrap2 {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

/* 공통 */
#btn_wrap2 input {
    width: 40%;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    background-color: #87D68D;
    color: #fff;
}

/* 개별 */
#s_btn2 {
    border: none;
    background-color: #87D68D;
    color: #fff;
    z-index: 1;
    /* top: -60px; 왔다갔다 하는거 js 처리 */
}

#s_btn2:hover {
    color: #358E3C;
    background-color: rgba(135, 214, 141, 0.7); 
}

.u_join1 {
    color: #666;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 25px;
}

.u_join1:hover {
    text-decoration: underline;
    color: #358e3c;
}

.u_join2 {
    color: #666;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}